[build]
  command = "npm run build"
  publish = ".output/public"
  functions = ".output/server"

# Serve Sanity Studio static files
[[redirects]]
  from = "/studio"
  to = "/studio/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/studio/*"
  to = "/studio/:splat"
  status = 200
  force = true
